/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color:#0f0f0f ;
  color: #18A999;
  font-family: Roboto, system-ui;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

nav {
  margin-top: 30px;
  justify-self: center;
  button {
    border: 1px solid #F7F0F0;
    padding: 16px;
    background-color: #18A999;
    color: #F7F0F0;
    font-weight: 700;
  }
}

#content {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
  img{
    width: 50%;
  }
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    text-decoration: underline;
  }
}

.reviews {
  background-color: #de3c4b;
  border-radius: 10px;
  color: #F7F0F0;
  padding: 20px;
}
